language: node_js
node_js:
  - "0.12.8"
  - "4.2.1"
  - "5.1.0"
env:
  - EXPORT_COVERAGE=1 CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
branches:
  only:
    - master
