<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/vendor.css" />
  <link rel="stylesheet" href="/styles/app.css" />
</head>
<body>
  <p>404 - Not Found :(</p>
  <%%- include partials/scripts %%>
</body>
</html>
