<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%%- include includes/meta %%>
  <%%- include includes/favicons %%>


  <%%- include includes/styles %%>
</head>
<body>
  <p>404 - Not Found :(</p>
  <%%- include includes/scripts %%>
</body>
</html
