<!DOCTYPE html>
<html<% if (appFramework === 'angular') { %>(ng-app='<%= slugify(appName) %>')<% } %>>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <base href="/">
  <%%- include includes/meta %%>
  <%%- include includes/favicons %%>


  <%%- include includes/styles %%>
</head>
<body><% if (appFramework === 'angular') { %>
  <div ui-view></div><% } else { %>
  <p>hello</p><% } %>

  <%%- include includes/scripts %%>
</body>
</html>
