<!DOCTYPE html>
<html<% if (appFramework === 'angular') { %> ng-app="<%= applicationSlug %>"<% } %>>
<head>
  <meta charset="UTF-8">
  <title><%= applicationName %></title>
  <base href="/">

  <%%- include templates/metas %%>
  <%%- include templates/favicons %%>
  <%%- include templates/styles %%>
</head>
<body><% if (appFramework === 'angular') { %>
  <div ui-view></div><% } else { %>
  <p>hello</p><% } %>

  <%%- include templates/scripts %%>
</body>
</html>
