<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%%- include partials/meta %%>
  <%%- include partials/favicons %%>


  <%%- include partials/styles %%>
</head>
<body>
  <p>Hello</p>
  <%%- include partials/scripts %%>
</body>
</html>
