doctype html
html<% if (appFramework === 'angular') { %>(ng-app='<%= slugify(appName) %>')<% } %>
  head
    title Title
    base(href="/")

    include ../includes/meta
    include ../includes/favicons
    include ../includes/styles
  body
    block content
      p home #{name}

    block scripts
      include ../includes/scripts
