doctype html
html<% if (appFramework === 'angular') { %>(ng-app='<%= applicationSlug %>')<% } %>
  head
    title <%= applicationName %>
    base(href="/")

    include ../templates/metas
    include ../templates/favicons
    include ../templates/links

  body
    block content

    include ../templates/scripts
