extends layouts/sample

block content<% if ((appType === 'client' || appType === 'both') && appFramework === 'angular' && angularRoute !== 'none') { %>
  div(<%= angularRouteDirective %>)<% } else { %>
  p hello<% } %>
